<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruitkha - Slider Version</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&amp;family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&amp;display=swap"
	rel="stylesheet">

	<!-- Linear Icon css -->
	<link rel="stylesheet" href="/static/css/linearicon.css">

	<!-- Themify icon css -->
	<link rel="stylesheet" type="text/css" href="/static/css/vendors/themify.css">

	<!-- Feather icon css -->
	<link rel="stylesheet" type="text/css" href="/static/css/vendors/feather-icon.css">
	<!-- Fontawesome css -->
    <link rel="stylesheet" type="text/css" href="/static/css/vendors/font-awesome.css">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/static/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/static/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/static/css/responsive.css">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="/static/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'home'  %}">Home</a>
									
								</li>
								<li><a href="{% url 'about'  %}">About</a></li>
								
								{% comment %} <li><a href="news.html">News</a> {% endcomment %}
									
								</li>
								<li><a href="{% url 'contact'  %}">Contact</a></li>
								<li><a href="{% url 'shop'  %}">Shop</a>
									
								</li>
								<li>
									<div class="header-icons">
										<a href="{% url 'orderdetails'  %}">order details</a>
										<a class="shopping-cart" href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
										<a class="shopping-cart" href="{% url 'wishlist'  %}"><i class='fas fa-heart' style='font-size:17px;color:white;'></i></a>
										<a class="shopping-cart" href="/logout/">logout</a>
									</div>
								</li>
							</ul>
						</nav>
						
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	
	<!-- profile section -->
	<div class="container rounded bg-white mt-100 mb-100">
		<div class="row">
			<div class="col-md-3 ">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><br><span><p class="d-inline-flex gap-1">
					
					<button class="btn btn-primary   profile-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						<i class='fas fa-wallet' style='font-size:19px; color:white;'></i>  Wallet 
					</button>
				  </p>
				  <div class="collapse" id="collapseExample">
					
					<div class="card card-body">
					  <p>amount: Rs {{wallet_amount}}
					</div>
				  </div> </span></div>
			</div>
			<div class="col-md-5 ">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h3 class="text-center">Profile Settings</h3>
						{% if messages %}
						<div class="alert alert-success mt-3">
						{% for message in messages %}
						{{ message }}
						{% endfor %}
						</div>
						{% endif %}
					</div>
					<br>
					<br>
                  
					{% comment %} <form method="post" action="{% url 'edituserprofile' request.user.id %}"> {% endcomment %}
					   
						
						
						

						<div class="col-md-12 text-transparent"><h5>Name :{{ user.username }}</h5></div><br>
						<div class="col-md-12 text-transparent"><h5>Mobile Number  : {{user.phonenumber}}</h5></div><br>
						<div class="col-md-12 text-transparent "><h5>email : {{user.email}}</h5></div>
						{% comment %} <div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
						<div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
						 {% endcomment %}
					    
					<br>
					
					<div class="text-center">
					
                    <a class="btn btn-primary profile-button btn-sm"  href="javascript:void(0)" data-bs-toggle="modal"
														data-bs-target="#editCategoryModal">
														<span class="lnr lnr-pencil"></span> Edit Profile 
													</a>
													<!-- Edit Category Modal -->
													
													<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-sm">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="editCategoryModalLabel">Edit Profile</h5>
																	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																	<!-- Edit Category Form -->
																	<form method="post" action="{% url 'edituserprofile'  %}" enctype="multipart/form-data">
																		{% csrf_token %}
																		<div class="mb-3">
																			<label for="categoryName" class="form-label">Name</label>
																			<input type="text" class="form-control" id="categoryName" value="{{user.username}}" name="username" required>
																		</div>
																		<div class="mb-3">
																		</div>
																		<div class="mb-3">
																			<label for="categoryName" class="form-label">Phone</label>
																			<input type="text" class="form-control" id="categoryName" value="{{user.phonenumber}}" name="phone" required>
																		</div>
																		<!-- Add more form fields as needed -->
																		<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
																		<button type="submit" class="btn btn-primary">Save changes</button>

																	</form>
																</div>
																
															</div>
														</div>
													</div>
													
					<a  href = "{% url 'old_pass_confirm'  %}" class="btn btn-primary profile-button btn-sm" >change Password</a>
					<br>
					<br>
							
							<div class="row">
								<div class="col-md-12">
									<div class="address-section">
										<!-- Add your address content here -->

										
                                    
								<!-- cart -->
								<div class="cart-section mt-150 mb-150">
									<div class="container">
										<h3> ADRESS </h3>
										<div class="row">
											<div class="col-lg-8 col-md-12">
												<div class="cart-table-wrap">
													<table class="cart-table">
														<thead class="cart-table-head">
															<tr class="table-head-row">
																<th class="product-remove"></th>
																<th class="product-image">Name</th>
																<th class="product-name">Email</th>
																<th class="product-total">phone</th>
																<th class="product-price">State</th>
																<th class="product-price">Country</th>
																<th class="product-price">Address</th>
																<th class="product-quantity">Pin</th>
																<th class="product-total">Post</th>
															
																
															</tr>
														</thead>
														{% for i in addres %}
														<tbody>
														
															
															<tr class="table-body-row">
																<td class="product-remove"><a href="{% url 'delete_addres' i.id %}"><i class="far fa-window-close"></i></a></td>
																<td class="product-image">{{i.Name}}</td>
																<td class="product-name">{{i.email}}</td>
																<td class="product-price">{{i.phone}}</td>
																<td class="product-price">{{i.state}}</td>
																<td class="product-quantity">{{i.country}}</td>
																<td class="product-quantity">{{i.address}}</td>
																<td class="product-quantity">{{i.pin}}</td>
																<td class="product-total">{{i.post}}</td>
															</tr>
															
														</tbody>
														{%  endfor %}
													</table>
												</div>
											</div>
											
											
												</div>
												<br>
												
												<div class="row">
													<div class="col-lg-8 col-md-12">
														<div class="card ">
															<button type="button" class="btn btn-dark btn-sm align-center" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add Adress</button>
														</div>
													</div>
												</div>
											</div>
										</div>
											
										</div>
									</div>
								</div>
								<!-- end cart -->
																


								   
										
									</div>
								</div>
							</div>
						</div>
					</div>
                    
					
					{% comment %} </form> {% endcomment %}
             {% comment %} address.............. {% endcomment %}

{% comment %} modal.......................add addres {% endcomment %}

			<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addCategoryModalLabel">Add Products</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<!-- Add Products Form -->
						<form method='post' action ="{% url 'add_address' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="mb-3">
								
								<label for="categoryName" class="form-label">Name</label>
								<input type="text" class="form-control"  placeholder="Enter Your name" name = "name" required>
							</div>
							
							<div class="mb-3">
								
								<label for="categoryName" class="form-label">PhoneNumber</label>
								<input type="tel" class="form-control"  placeholder="Enter Your phonenumber" name = "phone" required>
							</div>

							<div class="mb-3">
								<label for="categoryName" class="form-label">Email ID</label>
								<input type="email" class="form-control"  placeholder="Enter email" name = "email" required>
							
								
							</div>
		
							<div class="mb-3">
								<label for="categoryName" class="form-label">country</label>
								<input type="text" class="form-control"  placeholder="Enter coutry" name = "country" required>
							
								
							</div>
							<div class="mb-3">
								<label for="categoryName" class="form-label">State</label>
								<input type="text" class="form-control" id="categoryName" placeholder="Enter the State" name = "state" required>
							
								
							</div>
							<div class="mb-3">
								<label for="categoryName" class="form-label">Address</label>
								<input type="text" class="form-control" id="categoryName" placeholder="Enter the address" name = "address" required>
							
								
							</div>
							<div class="mb-3">
								<label for="categoryName" class="form-label">Pin</label>
								<input type="tel" class="form-control" min="0" max="6" id="categoryName" placeholder="Enter the pin" name = "pin" required>
							
								
							</div>
							<div class="mb-3">
								<label for="categoryName" class="form-label">Post</label>
								<input type="text" class="form-control" min="0" max="6" id="categoryName" placeholder="Enter the post" name = "post" required>
							
								
							</div>
		
		
		
		
							<!-- Add more form fields as needed -->
		
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">ADD</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% comment %} end {% endcomment %}
		{% comment %} <div class="col-md-4">
				
					
			</div> {% endcomment %}
			</div>
		</div>
	</div>
	</div>
	</div>
	

	
<!-- end profile -->
	

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	<script src="/static/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/static/js/icons/feather-icon/feather.min.js"></script>
    <script src="/static/js/icons/feather-icon/feather-icon.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<!-- jquery -->
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- count down -->
	<script src="/static/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/static/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/static/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/static/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/static/js/sticker.js"></script>
	<!-- main js -->
	<script src="/static/js/main.js"></script>

	<style>
	
	
	body {
		background: rgb(99, 39, 120)
		
	}
	
	.form-control:focus {
		box-shadow: none;
		border-color: #BA68C8
	}
	
	.profile-button {
		background: rgb(99, 39, 120);
		box-shadow: none;
		border: none
	}
	
	.profile-button:hover {
		background: #682773
	}
	
	.profile-button:focus {
		background: #682773;
		box-shadow: none
	}
	
	.profile-button:active {
		background: #682773;
		box-shadow: none
	}
	
	.back:hover {
		color: #682773;
		cursor: pointer
	}
	
	.labels {
		font-size: 11px
	}
	
	.add-experience:hover {
		background: #BA68C8;
		color: #fff;
		cursor: pointer;
		border: solid 1px #BA68C8

	}
	.btn btn-dark a{
		width: 100px;
	}
	
</style>
</body>
</html>